@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono&family=DM+Sans&family=DM+Serif+Display&display=swap');

/* =========================================
              Website Resets
============================================ */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

*::-moz-focus-inner {
    border: 0;
}

*:focus {
    outline: none;
}

/*=============================================
          root, html, and body styles
================================================*/
html {

    font-size: 100%;
}
body {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 1px;
    overflow-x: hidden;

}

.wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

@media (min-width: 576px) {
    .wrapper {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .wrapper {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .wrapper {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .wrapper {
        max-width: 1140px;
    }
}

/* =========================================
              Preloader
============================================ */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #262626;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    z-index: 10000;
}

#preloader-gif {
    width: 50%;
    align-self: center;
}

/*=============================================
          #main styles
================================================*/
#main {
    max-width: 640px;
    width: 560px;
    width: 640px;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
@media (max-width: 576px) {
    html{
        font-size: 62.5%;
    }
    #main {
        width: calc(100% - 1px);
    }
}

#header {
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

#add-container {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

#title {
    font-family: 'DM Serif Display', serif;
    font-size: 3rem;
}

.input-section {
    /* display: flex; */
    /* flex-flow: row; */
    flex-basis: 65%;
    position: relative;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    border: 4px solid #111111;
    border: 4px solid #404040;
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.counter {
    position: absolute;
    top: 15px;
    right: 10px;
    border-left: 2px solid #111111;
    padding-left: 8px;
    padding-right: 8px;
    font-family: 'DM Mono', monospace;
}

@media screen and (max-width: 425px) {
    .input-section {
        flex-basis: 70%;
    }
    .counter {
        top: 18px;
    }
}
@media screen and (max-width: 390px) {
    .input-section {
        flex-basis: 80%;
    }
}

#add-input {
    flex-basis: 110%;
    height: 50px;
    padding: 0.5em;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    text-transform: capitalize;
}

#list-container {
    width: 98%;
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    text-align: left;
}

ul#list {
    list-style-type: none;
    font-size: 1.150rem;
    flex-basis: 100%;
    margin: 0 auto;
    padding: 0;
}

span.custom-label {
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media (max-width: 576px) {
    ul#list {
        margin-right: -1.5em;
        margin-left: -1em;
    }
}
/* =============================================
               button
   ============================================= */
.button {
    padding: .5em 1em;
    border: 3px solid #404040;
    border-radius: 5px;
    color: #d9d9d9;
    background-color: #111111;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.333s ease-in-out;
}

.button:hover {
    color: hsl(0, 0%, 100%);
    background: #626262 radial-gradient(circle, transparent 1%, #626262 1%) center/15000%;
}

.button:active {
    background-color: #404040;
    background-size: 100%;
    transition: all 0.333s ease-in-out;
}

@media (max-width: 576px) {
    .button {
        font-size: .9rem;
    }
}

.swal-button {
    background-color: #111111;
    color: #d9d9d9;
}

.swal-button:not([disabled]):hover {
    background: #626262 radial-gradient(circle, transparent 1%, #626262 1%) center/15000%;
}

.swal-button--cancel {
    color: #d9d9d9;
    background-color: #111111;
}

/*=============================================
      checkbox
================================================*/

li.todo-item {
    width: 108%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 576px) {
    li.todo-item {
        width: 100%;
    }
}

input[type="checkbox"] {
    -ms-transform: scale(3);
    -moz-transform: scale(3);
    -webkit-transform: scale(3);
    -o-transform: scale(3);
    transform: scale(3);
    margin-right: 24px;
    background: #111111;
    color: hsl(0, 0%, 99%);
}
@media (max-width: 360px) {
    input[type="checkbox"] {
        margin-right: 16px;
    }

}

input[type="checkbox"]:checked {
    background: #111111;
    color: hsl(0, 0%, 99%);
}

span.item {
    width: 100%;
    width: fit-content;
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: capitalize;
}
@media (max-width: 360px) {
    span.item {
        font-size: 1.333rem;
    }
}
input.completed~span {
    text-decoration: line-through;
/*     background: #626262; */
    font-size: 1.5rem;
}

/* remove default checkbox */
.custom input {
    width: 0;
    height: 0;
}

/* custom checkbox styling */
.custom {
    position: relative;
    display: block;
    padding-left: 1em;
    margin-bottom: 0.75em;
    font-size: 1.25rem;
    cursor: pointer;
}

/* custom checkbox square */
.checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    width: 24px;
    height: 24px;
    background-color: #111111;
}

@media (max-width: 576px) {
    .checkmark {
        top: -5px;
    }
}

.custom:hover .checkmark {
    background-color: #626262;
}

/* checked state on styling */
.custom input:checked~.checkmark {
    background-color: #626262;

}

/* add the check mark indicator */
.checkmark::after {
    content: '';
    position: absolute;
    display: none;
}

.custom input:checked~.checkmark::after {
    display: block;
}

.custom .checkmark::after {
    content: '';
    width: 8px;
    height: 21px;
    top: 1px;
    left: 8px;
    border: solid #d9d9d9;
    border-width: 0 3px 5px 0;
    transform: rotate(50deg);
}

/* =============================================
      icon
   ============================================= */
.fas {
    color: #111111;
    cursor: pointer;
    transition: color 0.333s ease-in-out;
}

.fas:hover {

}

.fas.fa-trash-alt:hover {
    color: hsla(0, 87%, 49%, 1.0)
}

.fas.fa-edit:hover {
    color: rgb(243, 173, 31);
    color: rgb(37, 121, 176);
    color: rgb(67, 105, 225);
}